/* * {
  font-family: "Roboto Mono";
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 20px;
} */

/* * {
  outline: 1px solid #f00 !important;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Roboto Mono";
  letter-spacing: 1px;
  font-weight: 500;
}

body {
  min-height: 100vh;
}

.tmp {
  max-width: 100%;
  width: 100%;
}

.icon-container {
  width: 30%;
  height: 100%;
  flex: 1;
}

.icon {
  width: 100%;
  height: 100%;
}

.header-wrapper {
  display: flex;
  background-color: #149bfc;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
}

.nav-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 8;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.nav-link {
  list-style: none;
  width: 100%;
  text-align: center;
  height: 100%;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

.nav-link :hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.link-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer {
  background-color: gray;
  color: black;
  position: sticky;
  top: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.site-footer a {
  text-decoration: none;
  color: inherit;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.site-footer .social-icons {
  text-align: center;
}

.site-footer .copyright-text {
  text-align: center;
  color: white;
}

.social-icons li.title {
  display: block;
  margin-right: 0;
  font-weight: 600;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

.map {
  width: 50%;
  margin-right: auto;
}
.map div {
  width: 100%;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  display: none;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 780px) {

  main{
    max-width: 100%;
  }
  .map {
    width: 100%;
    margin-right: auto;
    max-width: 100%;
  
  }
  .map div {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .map div iframe{
    max-width: 100%;
  }


  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 3;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }
  .nav-links-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #149bfc;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.7s ease-in-out;
    z-index: 2;
    margin-left: auto;
  }

  .show-navLinksWrapper {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }

  .nav-link {
    opacity: 0;
    transition: all 1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;

  }

  .nav-wrapper {
    position: relative;
    z-index: 3;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }

  .header-wrapper {
    z-index: 3;
  }

  .show-nav-link {
    opacity: 1;
  }

  .nav-link :hover {
    box-shadow: none;
  }

  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #818a91;
    background-color: #33353d;
  }
  .social-icons a.facebook:hover {
    background-color: #33353d;
  }
  .social-icons a.twitter:hover {
    background-color: #33353d;
  }
  .social-icons a.linkedin:hover {
    background-color: #33353d;
  }
  .social-icons a.dribbble:hover {
    background-color: #33353d;
  }
}
